<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body style="background-color: bisque;">
    <h1 style="color:brown;">Epay</h1>
    <h2 style="color:brown;">some of our products:</h2><br>
    <img src="https://m.media-amazon.com/images/I/818SNa1ruZL.jpg" alt="computer" width="400" height="400"><br>
    <h3>amazing and beautiful computer!</h3>

    <img src="https://img.fruugo.com/product/5/26/226473265_max.jpg" alt="bag" width="400" height="400"><br>
    <h3>a bag that has everything you ever needed!</h3>

</body>
</html>