<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body style="background-color: bisque;">
    <h1>this is your product... new nike shoes!!</h1>
    <h2>A springy ride for any run, the Peg's familiar, just-for-you feel returns to help you accomplish your goals. This version has the same responsiveness and neutral support you love but with improved comfort in those sensitive areas of your foot, like the arch and toes. Whether you're logging long marathon miles, squeezing in a speed session before the sun goes down or hopping into a spontaneous group jaunt, it's still the established road runner you can put your faith in, day after day, run after run.</h2>
    <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/be33804b-50b9-4851-9bc4-1d9b534b9c4f/pegasus-40-road-running-shoes-HTDVsQ.png" alt="shoes" width="400" height="400"><br>
    <h2>price:499.99$</h2><br>
    <a href="/">wanna go back to home page?</a><br>
    <a href="/cart">Add To Cart Here!</a>
</body>
</html>
